<div class="ui vertical sidebar menu">
    <a class="header item" href="{{ '/' | relative_url }}">{{ site.data.cv.status.first_name }} {{ site.data.cv.status.family_name | upcase }}</a>
    <div class="disabled item">{{ site.data.cv.status.position }}</div>
    <div class="item">
        <div class="header">{% t nav.cv %}</div>
        <div class="menu">
            {% include menu_items.html %}
        </div>
    </div>
    <div class="item">
        <div class="header">{% t nav.language %}</div>
        <div class="menu lang-item">{% include lang_switcher.html %}</div>
    </div>
</div>
